[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "==6.0.1"
loguru = "==0.7.2"
openstacksdk = "==2.0.0"
os-client-config = "==2.1.0"
"oslo.config" = "==9.2.0"

[dev-packages]

[requires]
python_version = "3.10"
