[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "==6.0"
loguru = "==0.7.0"
openstacksdk = "==1.2.0"
os-client-config = "==2.1.0"
"oslo.config" = "==9.1.1"

[dev-packages]

[requires]
python_version = "3.10"
