certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cryptography==46.0.5
debtcollector==3.0.0
decorator==5.2.1
dogpile.cache==1.5.0
idna==3.11
iso8601==2.1.0
jmespath==1.1.0
jsonpatch==1.33
jsonpointer==3.0.0
keystoneauth1==5.13.1
loguru==0.7.3
markdown-it-py==4.0.0
mdurl==0.1.2
netaddr==1.3.0
openstacksdk==4.10.0
os-service-types==1.8.2
oslo.config==10.3.0
oslo.i18n==6.7.1
pbr==7.0.3
platformdirs==4.9.2
pycparser==2.23
Pygments==2.19.2
PyYAML==6.0.3
requests==2.32.5
requestsexceptions==1.4.0
rfc3986==2.0.0
rich==14.3.2
shellingham==1.5.4
stevedore==5.6.0
typer==0.24.1
typing_extensions==4.15.0
urllib3==2.6.3
wrapt==1.17.3
